li .mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-right: 0.3rem;
}

li {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
}

.highlight {
    background-color: #e3f2fd;
    color: #1565c0;
    border-left: 4px solid #1565c0;
}