.container {
    min-height: 100vh;
    padding-top: 75px;
}

.owl-img {
    width: 100%;
    height: 125px;
    object-fit: contain;
}

.img-wrapper {
    transition: all 0.35s ease-in-out;
    border-radius: 3px;

    &:hover {
        transform: scale(0.95);

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 3px;
            outline: 2px solid rgba(66, 165, 245);
            outline-offset: 3px;
            background-color: rgba(66, 165, 245, 0.5);
        }
    }
}

.active {
    transform: scale(0.95);

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 3px;
        outline: 2px solid rgba(66, 165, 245);
        outline-offset: 3px;
        background-color: rgba(66, 165, 245, 0.5);
    }
}

.mat-mini-fab {
    width: 60px;
    height: 60px;

    .mat-icon {
        width: 38px;
        height: 38px;
        font-size: 38px;
    }
}

.back-angular {
    background: conic-gradient(
        from 0deg,
        #dc2626,
        #ec4899,
        #8b5cf6,
        #4f46e5,
        #dc2626
    );
}