html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f5f5f5;
}

.fw-500 {
    font-weight: 500;
}

.color1 {
    background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
}

.color2 {
    background-image: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);
}

.color3 {
    background-image: linear-gradient(135deg, #FFC600 10%, #FD6E6A 100%);
}

.color4 {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}

.snack-success {
    background-image: linear-gradient( 135deg, #49C628 10%, #70F570 100%);
}

.snack-warning {
    background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}

.snack-success, .snack-warning {
    color: rgba(255, 255, 255, 0.85);
}