body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #e3e6e6;
}

.fw-500 {
    font-weight: 500;
}

.color1 {
    background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
}

.color2 {
    background-image: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);
}

.color3 {
    background-image: linear-gradient(135deg, #FFC600 10%, #FD6E6A 100%);
}

.color4 {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}

.p-rating .p-rating-icon.pi-star-fill {
    color: #ff9800;
}