/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f5f5f5;
}

.fw-500 {
    font-weight: 500;
}

.back-1 {
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}

.back-2 {
    background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
}

.back-3 {
    background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}

.back-4 {
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.back-5 {
    background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
}

.back-6 {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}